body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}

.controls {
    background-color: #302c2c;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text-big {
    font-size: 3em;
    margin: 0;
}

.text-small {
    font-size: 1em;
    margin: 0;
    color: #555;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;  /* Bu satır, yazı tipini Arial veya kullanılabilir başka bir sans-serif yazı tipine ayarlar. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: gray;
    color: white;
}

button:active {
    background-color: darkgray;
}

p {
    margin: 20px 0;
    font-size: 34px;
    text-align: center;
    max-width: 100%;
}
/* Responsive Styling */
@media only screen and (max-width: 600px) {
    .controls {
        flex-direction: column;
    }

    button, select {
        width: 100%;
        max-width: 300px; 
        margin-bottom: 10px;
    }

    #displayText {
        font-size: 18px;
    }
}