body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Viewport genişliğine göre ayarla */
  overflow-x: hidden; /* Yatay kaydırmayı devre dışı bırak */
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 99%;
  padding: 5px 8px 5px 8px; /* İçerik için padding ekle, toolbar'ın içindeki öğelerin genişliği için */
  box-sizing: border-box; /* Border ve padding'i genişlik hesaplamasına dahil et */
  background: linear-gradient(to right, #7a7a7a, #a1a1a1, #7a7a7a);
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
  
}



.toolbar img {
    width: 60px; /* Daha büyük ekranlar için varsayılan boyut */
    cursor: pointer;
    transition: transform 0.2s; /* Düğme etkisi için geçiş */
}

/* fast-backward ve fast-forward için özel stil */
#previous, #next {
    width: 43px; /* Varsayılan genişlikten %20 daha küçük */
}
/* fast-backward ve fast-forward için özel stil */
#fast-backward, #fast-forward {
    width: 33px; /* Varsayılan genişlikten %20 daha küçük */
}

#sound-toggle, #shuffle-toggle ,#danke {
    width: 43px; /* Varsayılan genişlikten %20 daha küçük */
}



#slide-info  {
    text-align: center;
    width: 70px; /* Varsayılan genişlikten %20 daha küçük */
    /* border: 1px solid black; /* Siyah çerçeve */
    font-size: small;
}



#delayInput {
  width: 50px;
  background-color: #c4c4c4;
  border: 1px solid #ccc;
  padding: 1px;
  color: #000;
}

#delayInput:focus + label,  /* Target label when input is focused */
#delayInput:valid + label  /* Target label when input value is valid (optional) */  {
  color: #000;  /* Set desired color, here black */
} 


.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100%;
    padding: 3px;
    margin-top: 1vh;
    border: 1px solid #767676;
    color: #c8c8c8;
    border-radius: 19px;
    height: 78vh;
    position: relative;
}

.text-display {
    width:98%; /* Genişlik %98 */
    margin: 5px;

    height: 100%;
    overflow: auto;
}


#text-content {
    font-size: 48px;
    text-align: center;
}

/* Küçük ekranlar için stil ayarlamaları */
@media (max-width: 768px) {
    .toolbar img {
        width: 40px; /* Küçük ekranlar için düğme boyutu */
    }
    /* fast-backward ve fast-forward için özel stil */
    #previous, #next {
        width: 33px; /* Varsayılan genişlikten %20 daha küçük */
    }
    /* fast-backward ve fast-forward için özel stil */
    #fast-backward, #fast-forward {
        width: 23px; /* Varsayılan genişlikten %20 daha küçük */
    }
    #text-content {
        font-size: 48px; /* Küçük ekranlar için metin boyutu */
    }

}

/* Çok küçük ekranlar için ek ayarlar */
@media (max-width: 480px) {
    .toolbar img {
        width: 30px; /* Çok küçük ekranlar için düğme boyutu */
    }
    /* fast-backward ve fast-forward için özel stil */
    #previous, #next {
        width: 23px; /* Varsayılan genişlikten %20 daha küçük */
    }
    /* fast-backward ve fast-forward için özel stil */
    #fast-backward, #fast-forward {
        width: 13px; /* Varsayılan genişlikten %20 daha küçük */
    }
    .text-display {
        padding: 10px;
    }

    #text-content {
        font-size: 48px; /* Çok küçük ekranlar için metin boyutu */
    }
 
}


.empty-space {
    flex-grow: 1;
}

#select_language, #select_text_slide {
    background-color: #bcbbbb;
  }

#demo {
    color: #000000;
  }



  #delayText {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 3;
    padding: 0;
  }

 
 


  #slidecontainer
  {
 
    line-height: 1; /* Satır yüksekliğini azaltır */
 
    height: max-content;
    width: 80%; /* veya istediğiniz bir genişlik değeri */
    max-width: 200px; /* Maksimum genişlik */
  }
  
  #delayText  {
    text-align: right; 
  
    height:14px;
    margin-top: 0px; /* veya istediğiniz bir değer */
    margin-bottom: -1px; /* veya istediğiniz bir değer */
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 1px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #050505;
    cursor: pointer;
  }


  .modal {
    display: none; /* Modal başlangıçta gizli */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* İçerik fazlaysa kaydırmayı etkinleştir */
    background-color: rgba(0,0,0,0.4); /* Arkaplan rengi */
  }
  
  /* Modal içeriğinin stilini ayarla */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Orta kısmı */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Genişlik */
  }
  
  /* Kapat butonunun stilini ayarla */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }

    /* Modal'ın genel görünümü */
  #cloudModal .modal-content {
    border-radius: 10px;          /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  /* Gölge efekti ekle */
    background-color: #000000;    /* Arkaplan rengini değiştir */
  }

  /* Seçenek kutularının stili */
  #select_language, #select_text_slide {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  #cloudModal .modal-body > * {
    margin-bottom: 10px; /* Elementler arasına 10px boşluk ekle */
  }


  #cloudModal .modal-content {
    /* ... diğer stiller ... */
    width: 400px; /* Pencere genişliğini 400px yap */
  }
  
  #cloudModal .modal-body h3 {
    margin-bottom: 15px;
  }
  
  #load-cloud-file {
    background-color: #4CAF50; /* Yeşil arkaplan */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

#cloudModal .modal-body label, 
#cloudModal .modal-body select {
  display: block; 
  width: 100%; /* İsteğe bağlı: Elementlerin tam genişlikte olmasını sağlamak için */
  margin-bottom: 10px; /* Alt kenar boşluğu ekleme */
}

.screen-zone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 33.33%;
    z-index: 20;
    cursor: pointer;
}
#zone-left { left: 0; }
#zone-center { left: 33.33%; }
#zone-right { left: 66.66%; }

